
.comment {
  .not-approved {
    background: #deaaaa;
  }
  .approved { 
    background: #95C468;
  }
  .comment-buttons { 
    margin:20px 40px;
  }
  .moderation {
    margin: 15px 0;
  }
  ul {
    ul {
      margin-left: 30px;
    }
  }
}

form#new_post {
  textarea {
    font-family: Courier, monospace;
    
  }
}