%footer.footer
  .container
    .row.marg20-top
      .span6
        %h3 Additional Information
        %p
          = link_to 'Contact Me', contact_path
      .span6
        %h3 Newsletter
        %p Say up to date blah blah
        .control-group
          .controls
            .input-prepend.input-append
              %span.add-on
                %i.icon-envelope
            :plain
              <input class="span2" id="appendedPrependedInput" size="16" type="text">
            %button{:class => "btn", :type => "button"}
              Subscribe
        :plain
          <p><a href="#" rel="tooltip" title="Twitter" class="sb no-shadow twitter">Twitter</a>
                  <a href="#" rel="tooltip" title="Facebook" class="sb no-shadow facebook">Facebook</a>
                  <a href="#" rel="tooltip" title="LinkedIn" class="sb no-shadow linkedin">LinkedIn</a>
                  <a href="#" rel="tooltip" title="Pinterest" class="sb no-shadow pinterest">Pinterest</a>
                  <a href="#" rel="tooltip" title="YouTube" class="sb no-shadow youtube">YouTube</a>
                  <a href="#" rel="tooltip" title="Vimeo" class="sb no-shadow vimeo">Vimeo</a></p>
.copyright
  .container
    %p
      = "©#{Time.now.year} Andrew Pedley "
      