.row.top_row#header
  %h1
    = link_to 'Andrew Pedley', root_url
    /.span4
    / .user_nav
    /   - if current_user
    /     %p Logged in as #{current_user.name}
    /     = link_to "Log out", logout_path
    /   - else
    /     = link_to "Sign up", signup_path
    /     = form_tag(sessions_path, :class => 'form-inline') do
    /       = text_field_tag :name, nil, :placeholder => 'username', :class => 'input-small'
    /       = password_field_tag :password, nil, :placeholder => 'password', :class => 'input-small'
    /       = button_tag 'Log in', :class => "btn"
